<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <printess_designer>
            <project_name>
                <enabled>1</enabled>
                <prompt_text>Give this project a name so you can manage it later.</prompt_text>
                <placeholder>e.g. My Wedding Album</placeholder>
                <action_label>Save name</action_label>
            </project_name>
            <login_popup>
                <new_customer_heading>Sign up to get started</new_customer_heading>
                <customer_login_heading>Login to save your project</customer_login_heading>
            </login_popup>
            <debug>
                <enabled_logging>0</enabled_logging>
            </debug>
            <projects>
                <enabled>0</enabled>
                <retention_days>30</retention_days>
                <order_reminder_after_days>5</order_reminder_after_days>
                <removal_reminder_before_days>5</removal_reminder_before_days>
                <email_batch_limit>100</email_batch_limit>
                <order_reminder_template>printess_designer_projects_order_reminder_template</order_reminder_template>
                <removal_reminder_template>printess_designer_projects_removal_reminder_template</removal_reminder_template>
            </projects>
            <cron>
                <send_project_reminders>30 8 * * *</send_project_reminders>
                <remove_expired_projects>30 2 * * *</remove_expired_projects>
            </cron>
        </printess_designer>
    </default>
</config>
